on: push
name: Build & test
jobs:
  buildAndTestDocker:
    name: Build & Test Docker Image
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Build & Test
      uses: parkr/actions/docker-make@main
      with:
        args: docker-test -e REV=${{ github.sha }}
  goTest:
    name: Test (go)
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-go@v3
      - run: mkdir -p tmp
      - run: go test -v ./...
